body{
    font-family: $parrafos-font-family;
}

.bg-primary .navbar-brand{
    color: #AC0202;
    font-family: $font-family-sans-serif;
    font-size: 2remph;
    &:hover{
        color: #d40505;
    }
}